---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props
---

<header>
    <h1 class="text-xl text-l/primary dark:text-d/primary">{title}</h1>
    <p class="text-lg text-l/tertiary dark:text-d/tertiary">{description}</p>
</header>
